{% extends "base.html" %}
{% block content %}
<h2>Réinitialiser le mot de passe</h2>
<form method="post" action="{{ url_for('reset_password', email=email) }}" class="auth-form">
  <label for="code" class="auth-form-champ">Code de vérification (4 chiffres)</label>
  <input type="text" id="code" class="auth-form-input" name="code"
         pattern="^[0-9]{4}$"
         title="Entrez un code à 4 chiffres"
         required>

  <label for="new_password" class="auth-form-champ">Nouveau mot de passe</label>
  <input type="password" id="new_password" class="auth-form-input" name="new_password"
         minlength="6"
         pattern=".{6,}"
         title="Au moins 6 caractères, incluant lettres, chiffres et caractères spéciaux recommandés"
         required>

  <div class="show-password">
    <input type="checkbox" id="toggleNewPassword" class="auth-form-input">
    <label for="togglePasswordLogin">Afficher le mot de passe</label>
  </div>

  <label for="confirm_new_password">Confirmer le nouveau mot de passe</label>
  <input type="password" id="confirm_new_password" class="auth-form-champ" name="confirm_new_password"
         minlength="6"
         required>

  <div class="show-password">
    <input type="checkbox" id="toggleConfirmNewPassword" class="auth-form-input">
    <label for="togglePasswordLogin">Afficher le mot de passe</label>
  </div>

  <button type="submit">Réinitialiser</button>
</form>
{% endblock %}